.App {
  text-align: center;
}

/* custom css  */

/* colors  */
.text-color {
  color: #222222;
}

.primary-color-bg{
  background-color: #31D2F2;
}

.secondary-color{
  color:#03425B;
}


.quality{
  background-image: url("https://image.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.icon{
  color: #31D2F2;
}
.h-card{
  transition: 0.5s;
}
.h-card:hover{
  background-color: #31D2F2;
  color: white;
  box-shadow: 5px 5px 20px rgb(51, 51, 51);
}
.h-card:hover .icon{
  color: #fff;

}


@media only screen and (max-width: 768px) {
  .block{
    display: none;
  }
}