.App {
  text-align: center;
}

/* custom css  */

/* colors  */
.text-color {
  color: #222222;
}

.primary-color-bg{
  background-color: #31D2F2;
}

.secondary-color{
  color:#03425B;
}


@media only screen and (max-width: 768px) {
  .block{
    display: none;
  }
}